@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

* {
  margin: 0 !important;
  box-sizing: border-box;
}

body {
  background-color: #7879f1;
}

.rubik,i {
  font-family: "Rubik", sans-serif;
  color: white;
}

a {
  transition: 0.3s;
  opacity: 0.8;
}

a:hover {
  color: white;
  opacity: 1;
}

#welcome {
  opacity: 1;
}

nav {
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  background-color: #5d5fef;
}

.row .title {
  padding: 0 2rem !important;
  font-size: 1.5rem;
}

.colcol {
  padding: 3rem 6rem !important;
  display: flex;
  align-items: center;
}

.colcolcol {
  width: 100%;
  padding: 1rem 6rem !important;
  display: flex;
  align-items: center;
}

.certs {
  padding: 0;
  object-fit: contain;
  height: 100px;
  border:4px solid black;
  border-radius: 15px;
}

.social {
  width: 300px;
  padding: 5px;
  font-size: xx-large;
}

.soc-icon, .social {
  transition: 0.3s;
}

.social:hover{
  background-color: white;
  border-radius: 5px;
}

.social:hover .soc-icon, .social:hover{
  color: #5d5fef;
}


#profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: auto !important;
}

ul {
  display: flex;
  margin: 0 !important;
  width: fit-content;
}

li {
  list-style: none;
  margin: 1rem !important;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  line-height: 0;
  padding: 0.75rem;
}


footer {
  margin-top: 1rem !important;
  width: 100%;
  background-color: #5d5fef;
  color: white !important;
  font-size: 1.225rem;
  position: relative;
  bottom: 0;
  padding: 3rem !important;
  text-align: center;
}